<div class="container prueba">
  <div class="blog-single gray-bg">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-lg-12 m-15px-tb">
          <article class="article">
            <div class="article-img">
              <img src="../../../assets/img/article_blog.jpeg" title="" alt="">
            </div>
            <div class="article-title">
              <h2>Inteligencia artificial</h2>
              <div class="media">
                <div class="media-body">
                  <label>Antonio Blanco</label>
                  <span>10 MAY 2023</span>
                </div>
              </div>
            </div>
            <div class="article-content">
              <p>La precipitada carrera de Google y Microsoft por lanzar un buscador con el que se pueda dialogar se
                produce en un momento de grandes cambios en el negocio de las tecnológicas</p>
              <p>El objetivo último de la IA, lograr que una máquina tenga una inteligencia de tipo general similar a la
                humana, es uno de los objetivos más ambiciosos que se ha planteado la ciencia. Por su dificultad, es
                comparable a otros grandes objetivos científicos como explicar el origen de la vida, el origen del
                universo o conocer la estructura de la materia. </p>
              <h4>Historia</h4>
              <p>A lo largo de los últimos siglos, este afán por construir máquinas inteligentes nos ha conducido a
                inventar modelos o metáforas del cerebro humano. Por ejemplo, en el siglo XVII, Descartes se preguntó si
                un complejo sistema mecánico compuesto de engranajes, poleas y tubos podría, en principio, emular el
                pensamiento. Dos siglos después, la metáfora fueron los sistemas telefónicos ya que parecía que sus
                conexiones se podían asimilar a una red neuronal.</p>
              <p>Actualmente el modelo dominante es el modelo computacional basado en el ordenador digital y, por
                consiguiente, es el modelo que se contempla en este artículo.</p>
              <p>El objetivo último de la IA, lograr que una máquina tenga una inteligencia de tipo general similar a la
                humana, es uno de los objetivos más ambiciosos que se ha planteado la ciencia. Por su dificultad, es
                comparable a explicar el origen de la vida, el origen del universo o conocer la estructura de la
                materia.</p>
            </div>
            <div class="nav tag-cloud">
              <a href="#">Tecnología</a>
              <a href="#">Desarrollo</a>
              <a href="#">Inteligencia Artificial</a>
            </div>
          </article>
          
          <!-- <div class="contact-form article-comment">
            <h4 class="titulocentro">Deja un comentario</h4>
            <form id="contact-form" method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="Name" id="name" placeholder="Nombre" class="form-control" type="text">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input name="Email" id="email" placeholder="Email" class="form-control" type="email">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea name="message" id="message" placeholder="Mensaje" rows="4"
                      class="form-control"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="send">
                    <button class="px-btn theme"><span>Enviar</span> <i class="arrow"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div> -->

      </div>
    </div>
  </div>
  <!-- Fin Contenido -->
</div>
