<div class="container py-2">
    <form class="row" onsubmit="return false">
        <div class="col-md-12 mb-2">
            <label for="user">Nombre:</label>
            <input type="text" name="name" class="form-control" id="user" required>
        </div>
        <div class="col-md-12 mb-2">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="inputEmail4" required>
        </div>
        <div class="col-md-12 mb-2">
            <label class="form-label">Telf.</label>
            <input type="text" class="form-control bfh-phone" name="phone" placeholder="Opcional"
                data-format="+1 (ddd) ddd-dddd">
        </div>
        <div class="col-md-12 mb-2">
            <label for="inputAddress" class="form-label">Mensaje</label>
            <textarea class="form-control" name="message" id="form4Example3" rows="4" placeholder="Mensaje"></textarea>
        </div>
        <div class="col-md-12 mb-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="checkbox" id="gridCheck" required>
                <label class="form-check-label" for="gridCheck">
                    Acepto la <a href="politica_privacidad.html">Política de Privacidad</a>
                </label>
            </div>
        </div>
        <div class="col-md-12 mb-2">
            <button type="submit" class="boton-form btn btn-primary mb-2">Enviar</button>
        </div>
    </form>
</div>