<header>
    <div class="px-3 py-2 content text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <button class="button-5" (click)="auth.loginWithRedirect()">Log in</button>
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <div class="nav-link text-white">
                            <i class="bi bi-house-door-fill"></i>
                            Home
                        </div>
                    </li>
                    <li>
                        <div class="nav-link text-white">
                            <i class="bi bi-phone-flip"></i>
                            Feed
                        </div>
                    </li>
                    <li>
                        <div class="nav-link text-white">
                            <i class="bi bi-people-fill"></i>
                            Blog
                        </div>
                    </li>
                    <li>
                        <div class="nav-link text-white">
                            <i class="bi bi-geo-alt"></i>
                            Mapa
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>