<ngx-mat-menu *ngIf="auth.user$ | async as user" style="height: 100%;width: 100%;" 
[arrMenuOptions]="arrMenuOptions" 
[badgeColor]="badgeColor" 
[logoutIcon]="logoutIcon"
[srcLogo]="srcLogo" 
[heightLogo]="'50px'"
[widthLogo]="'50px'"
[lang]="lang" 
[themeSidebar]="themeSidebar" 
[themeHeader]="themeHeader" 
[visibleNotif]="visibleNotif"
[badge]="badge"
[defaultWidth]="'400px'"

[headerPicture]="user.picture"
[headerTitle]="user.name"
[headerSubtitle]="user.email"
[headerTitleColor]="'black'"
[headerSubtitleColor]="'gray'"

(openNotif)="openNotif($event)"
(profileClick)="profileClick($event)"
(logoutEvent)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
    <router-outlet></router-outlet>
</ngx-mat-menu>

